In [9]:
import numpy as np
import pandas as pd

## Q1. Pandas Version

In [3]:
pd.__version__

'2.3.1'

## Getting the data

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [12]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

## Q2. Records count

In [71]:
df.index

RangeIndex(start=0, stop=9704, step=1)

## Q3. Fuel types

In [17]:
df['fuel_type'].nunique()

2

## Q4. Missing values

In [21]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Q5. Max fuel efficiency

In [35]:
df[df['origin'] == 'Asia'].describe().round(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,3247.00,3099.00,3013.00,3247.00,2933.00,3247.00,3072.00,3247.00
mean,200.05,4.01,150.30,3006.29,15.04,2011.49,-0.00,14.97
std,49.29,1.97,30.26,502.43,2.49,6.70,1.05,2.58
min,30.00,0.00,40.00,1223.30,6.40,2000.00,-4.00,6.89
25%,170.00,3.00,130.00,2665.52,13.30,2006.00,-1.00,13.25
50%,200.00,4.00,150.00,2988.59,15.10,2012.00,0.00,15.03
75%,230.00,5.00,171.00,3345.36,16.70,2017.00,1.00,16.73
max,370.00,11.00,245.00,4661.14,22.70,2023.00,4.00,23.76

## Q6. Median value of horsepower

In [42]:
df['horsepower'].median()

np.float64(149.0)

In [43]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [46]:
df['horsepower'] = df['horsepower'].fillna(152)

In [45]:
df['horsepower'].median()

np.float64(149.0)

## Q7. Sum of weights

In [54]:
x = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']][0:7].values
x

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [58]:
xtx = x.T.dot(x)

In [64]:
xtx_inv = np.linalg.inv(xtx)

In [63]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [66]:
product1 = xtx_inv.dot(x.T)
product1

array([[-1.31202622e-04, -8.63909858e-05,  3.72634923e-04,
        -4.02726650e-04, -1.62513724e-04, -5.52342829e-05,
         4.65094049e-04],
       [ 2.62636846e-04,  1.96990690e-04, -4.73392228e-04,
         6.58944477e-04,  3.08357831e-04,  1.51636137e-04,
        -6.07979633e-04]])

In [69]:
w = product1.dot(y)
w

array([0.01386421, 0.5049067 ])

In [70]:
w.sum()

np.float64(0.5187709081074016)